    body {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background: rgb(121, 114, 241);
        background: linear-gradient(90deg, rgba(121, 114, 241, 1) 0%, rgba(61, 61, 232, 1) 35%, rgba(52, 83, 235, 1) 68%, rgba(0, 212, 255, 1) 100%);
    }

    .container {
        width: 20%;
        min-width: 400px;
        margin: 5% auto;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        -webkit-box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
        border-radius: 1em;
        backdrop-filter: blur(20px);
    }

    .track-image {
        width: 50%;
        border-radius: 50%;
        filter: drop-shadow(0px 5px 0.75em black);
    }

    .rotate {
        animation: rotation 10s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .title {
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 0%;
    }

    .artist {
        margin-top: 0%;
    }

    .slider_container {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .slider_container div {
        cursor: pointer;
    }

    .slider_container i {
        font-size: 1.4em;
    }

    .seek_slider {
        width: 230px;
    }

    .buttons {
        display: flex;
        gap: 20px;
        margin: 20px;
        color: rgb(0, 132, 255);
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 1em;
        align-items: center;
    }

    .buttons button:active {
        transition: .2s;
        scale: 0.8;
    }

    .buttons button:hover {
        color: rgb(5, 110, 207);
    }

    .buttons button {
        font-size: 2em;
        cursor: pointer;
        padding: 3px;
        border: none;
        background-color: white;
    }

    .buttons button:nth-child(3) {
        font-size: 3em;
    }

    .remove {
        display: none;
    }

    .menu {
        width: 100%;
        font-size: 1.5em;
        display: flex;
        justify-content: left;
        z-index: 2;
    }

    .menu i {
        cursor: pointer;
    }

    .playlist {
        width: 80%;
        height: 71%;
        padding: 20% 10%;
        border-radius: 1em;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0);
        opacity: 0;
        visibility: hidden;
    }

    .song {
        padding: 20px 10px 5px 10px;
        border-bottom: 1px solid #fff;
        cursor: pointer;
    }

    .song:hover {
        color: rgb(180, 180, 180);
        border-bottom: 1px solid rgb(180, 180, 180);
    }