<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'MusicPlayer/musicPlayerStyle.css' %}">
    <title>Music Player</title>
</head>

<body>
    <div class="container">
        <div class="menu">
            <i class="bi bi-list hamburger"></i>
            <i class="bi bi-x exit remove"></i>
        </div>
        <img src="{% static 'MusicPlayer/Immagini/default.jpg' %}" alt="" class="track-image">
        <p class="title">Song Title</p>
        <a href="{% url 'MusicPlayer:PaginaArtista' 'default' %}" id = "linkArt"><p class="artist">Artist</p></a>
        <div class="slider_container">
            <p class="current_time">00:00</p>
            <input type="range" min="1" max="100" value="0" class="seek_slider">
            <p class="total_duration">00:00</p>
        </div>
        <div class="slider_container">
            <div class="volume_down">
                <i class="bi bi-volume-down-fill"></i>
            </div>
            <input type="range" min="0" max="100" value="100" class="volume_slider">
            <div class="volume_up">
                <i class="bi bi-volume-up-fill"></i>
            </div>
        </div>
        <div class="buttons">
            <button class="shuffle"><i class="bi bi-shuffle"></i></button>
            <button class="prev"><i class="bi bi-skip-start-fill"></i></button>
            <button class="play"><i class="bi bi-play-circle"></i></button>
            <button class="next"><i class="bi bi-skip-end-fill"></i></button>
            <button class="autoplay"><i class="bi bi-arrow-repeat"></i></button>
        </div>
        <div class="playlist">
        </div>
</body>
<script src="{% static 'MusicPlayer/musicPlayerScript.js' %}"></script>


<script>
var prefixSON = "{% static 'MusicPlayer/Brani/' %}"
var prefixIMM = "{% static 'MusicPlayer/Immagini/' %}"
    function CaricaCanzoni()
    {
        var playlist = [];
                $.ajax({
					url : "caricaCanzoni",
					type : 'Get',
					cache : false,
					timeout : 30000,
					dataType : "json",
					success : function(data) {
                        var array = JSON.parse(data["data"])
                        for (let song in array)
                        {
                            let variabile = {
                            name : array[song]["fields"]["Nome"],
                            artist : array[song]["fields"]["Artista"].replace("_"," "),
                            imgAlbum : prefixIMM + array[song]["fields"]["Album"] + ".jpg",
                            path :  prefixSON + array[song]["fields"]["PathSong"]
                            }

                            playlist.push(variabile)

                        }
					},
					fail : function(msg) {
						alert("negativo")
						return true;
					}
				});

                return playlist
	}//funzione ricercaAjax



let songPlaylist = []

    if (songPlaylist.length == 0)
    {
        songPlaylist = CaricaCanzoni()
    } 




</script>

</html>