<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'MusicPlayer/musicPlayerStyle.css' %}">
    <title>Music Player</title>
</head>

<body>
    {%for index in lista_canzoni%}
    <p id = "nomeD">{{ song.Nome }}</p>
    <p id = "artistD">{{song.Artista.Nome}}</p>
    <p id = "albumD">{{song.Album.PathIMM}}</p>
    <p id = "pathD">{{song.PathSong}}</p>
    {%endfor%}


    <div class="container">
        <div class="menu">
            <i class="bi bi-list hamburger"></i>
            <i class="bi bi-x exit remove"></i>
        </div>
        <img src="{% static 'MusicPlayer/Immagini/default.jpg' %}" alt="" class="track-image">
        <p class="title">Song Title</p>
        <p class="artist">Artist</p>
        <div class="slider_container">
            <p class="current_time">00:00</p>
            <input type="range" min="1" max="100" value="0" class="seek_slider">
            <p class="total_duration">00:00</p>
        </div>
        <div class="slider_container">
            <div class="volume_down">
                <i class="bi bi-volume-down-fill"></i>
            </div>
            <input type="range" min="0" max="100" value="100" class="volume_slider">
            <div class="volume_up">
                <i class="bi bi-volume-up-fill"></i>
            </div>
        </div>
        <div class="buttons">
            <button class="shuffle"><i class="bi bi-shuffle"></i></button>
            <button class="prev"><i class="bi bi-skip-start-fill"></i></button>
            <button class="play"><i class="bi bi-play-circle"></i></button>
            <button class="next"><i class="bi bi-skip-end-fill"></i></button>
            <button class="autoplay"><i class="bi bi-arrow-repeat"></i></button>
        </div>
        <div class="playlist">
        </div>
</body>
<script src="{% static 'MusicPlayer/musicPlayerScript.js' %}"></script>

<script>
    var prefixIMM = "{% static 'MusicPlayer/Immagini/' %}"
    var prefixSON = "{% static 'MusicPlayer/Brani/' %}"


let songPlaylist = [
    {

        name: "Light My Love",
        artist: "Greta Van Fleet",
        imgAlbum: prefixIMM + "The Battle at Garden's Gate.jpg",
        path: prefixSON + "Greta Van Fleet - Light My Love.mp3",
    },
    {
        name: "Stardust Chords",
        artist: "Greta Van Fleet",
        imgAlbum: "Immagini/The Battle at Garden\'s Gate.jpg",
        path: "Brani/Greta Van Fleet - Stardust Chords.mp3",
    },
    {
        name: "Brave New World",
        artist: "Greta Van Fleet",
        imgAlbum: "Immagini/Anthem of the Peaceful Army.jpg",
        path: "Brani/Greta Van Fleet - Brave New World.mp3",
    },
    {
        name: "No Surprises",
        artist: "Radiohead",
        imgAlbum: "Immagini/OK Computer.jpg",
        path: "Brani/Radiohead - No Surprises.mp3",
    },
    {
        name: "One Night Only",
        artist: "The Struts",
        imgAlbum: "Immagini/One Night Only.jpg",
        path: "Brani/The Struts - One Night Only.mp3",
    },
    {
        name: "Hotel California",
        artist: "Eagles",
        imgAlbum: "Immagini/Hotel California.jpg",
        path: "Brani/Eagles - Hotel California.mp3",
    }
]


</script>

</html>